PkTriggerCord/.vs/
PkTriggerCord/Debug/
PkTriggerCord/Release/
PkTriggerCord/ipch/
PkTriggerCord/PkTriggerCord/Debug/
PkTriggerCord/PkTriggerCord.VC.VC.opendb
PkTriggerCord/PkTriggerCord.VC.db
PkTriggerCord/PkTriggerCordCLI/Debug/
PkTriggerCord/PKTriggerCordDLL/Debug/
PkTriggerCord/PkTriggerCordConsole/Debug/
PkTriggerCord/PKTriggerCSharp/obj/
PkTriggerCord/PKTriggerCSharp/bin
PkTriggerCord/PkTriggerCordCLI/x64/
PkTriggerCord/PkTriggerCordConsole/x64/
PkTriggerCord/PKTriggerCordDLL/x64/
PkTriggerCord/x64/
