PkTriggerCord/.vs/
PkTriggerCord/Debug/
PkTriggerCord/Release/
PkTriggerCord/ipch/
PkTriggerCord/PkTriggerCord/Debug/
PkTriggerCord/PkTriggerCord.VC.VC.opendb
PkTriggerCord/PkTriggerCord.VC.db
PkTriggerCord/PkTriggerCordCLI/Debug/
PkTriggerCord/PKTriggerCordDLL/Debug/
PkTriggerCord/PkTriggerCordConsole/Debug/
PkTriggerCord/PKTriggerCSharp/obj/Debug/
